PORT=3020
DB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/crunchy-munch

JWT_SECRET=replace_with_a_secure_secret
JWT_EXPIRES_IN=2h

AWS_ACCESS_KEY_ID=replace_with_aws_access_key_id
AWS_SECRET_ACCESS_KEY=replace_with_aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=replace_with_s3_bucket_name
